/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2014, 5:10:30 PM
    Author     : Mike
*/

.container_1 {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

.container_2 {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
        padding-bottom: 525px;
}

.container_cast {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

/* Bride and Groom */
.container_cast_1 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
        padding-bottom: 690px;
}

/* Bridesmaids */
.container_cast_2 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
        padding-bottom: 1950px;
}

/* Groomsmen */
.container_cast_3 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
        padding-bottom: 1475px;
}

/* Ushers */
.container_cast_4 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
        padding-bottom: 900px;
}

.container_wedding {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
        padding-bottom: 100px;
}

/* Ceremony */
.container_wedding_1 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;    
        padding-bottom: 60px;
}

/* Reception */
.container_wedding_2 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;    
        padding-bottom: 60px;
}

/* */
.container_wedding_3 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;    
        padding-bottom: 60px;
}

/* */
.container_wedding_4 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;    
        padding-bottom: 60px;
}


.container_party {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
        padding-bottom: 100px;
}

.container_party_1 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
        padding-bottom: 60px;
//        border-width:5px;
//        border-style: ridge;
}

.container_party_2 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
        padding-bottom: 60px;
//        border-width:5px;
//        border-style: ridge;
}

.container_party_3 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
        padding-bottom: 350px;
//        border-width:5px;
//        border-style: ridge;
}

.container_links {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
        padding-bottom: 100px;
}

.container_links_1 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
        padding-bottom: 60px;
}
.container_links_2 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
        padding-bottom: 60px;
}

.container_links_3 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
        padding-bottom: 60px;
}

.grid_1 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.grid_2 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 25px;
	margin-right: 17px;
        width: 271px;
}

.grid_3 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 17px;
	margin-right: 25px;
        width: 620px;
}

.grid_4 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
        width: 950px;
}

.grid_cast_2l,
.grid_cast_2r {
    	display:inline;
	float: left;
	position: relative;
}

.grid_cast_2l {
	margin-left: 45px;
	margin-right: 15px;
        width: 410px;
        padding: 10px 0px;
}

.grid_cast_2r {
	margin-left: 15px;
	margin-right: 45px;
        width: 410px;
        padding: 10px 0px;
}

.grid_cast_member,
.grid_cast_photo_bg,
.grid_cast_photo,
.grid_cast_text {
    	display:inline;
	float: left;
	position: relative;
}
.grid_cast_member {
	margin-left: 0px;
	margin-right: 0px;
        margin-bottom: 25px;
        width: 940px;
}

.grid_cast_photo_bg {
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 15px;
        width: 250px;
}

.grid_cast_photo {
	margin-left: auto;
	margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 300px;
}
.grid_cast_text {
	margin-left: 0px;
	margin-right: 10px;
        width: 580px;
}

.grid_wedding_1_1,
.grid_wedding_1_2,
.grid_wedding_1_3,
.grid_wedding_photo_l,
.grid_wedding_photo_r,
.grid_wedding_photo_text {
    	display:inline;
	float: left;
	position: relative;
}

.grid_wedding_1_1 {
	margin-left: auto;
	margin-right: auto;
        margin-bottom: 25px;
        width: 960px;
}

.grid_wedding_1_2 {
	margin-left: 90px;
	margin-right: 90px;
        margin-bottom: 25px;
        width: 780px;
}

.grid_wedding_1_3 {
	margin-left: 150px;
	margin-right: 150px;
        margin-bottom: 25px;
        width: 660px;
}

.grid_wedding_photo_l {
	margin-left: 170px;
	margin-right: 0px;
        width: 150px;        
}
.grid_wedding_photo_r {
	margin-left: 0px;
	margin-right: 170px;
        width: 150px;
}
.grid_wedding_photo_text {
	margin-left: 10px;
	margin-right: 10px;
        width: 300px;
}

.grid_party_1_1,
.grid_party_1_2,
.grid_party_photo_l,
.grid_party_photo_r,
.grid_party_photo_text,
.grid_party_3_1,
.grid_party_3_2 {
    	display:inline;
	float: left;
	position: relative;
}

.grid_party_1_1 {
	margin-left: auto;
	margin-right: auto;
        margin-bottom: 25px;
        width: 960px;
}

.grid_party_1_2 {
	margin-left: 90px;
	margin-right: 90px;
        margin-bottom: 0px;
        width: 780px;
}

.grid_party_photo_l {
	margin-left: 147px;
	margin-right: 0px;
        width: 133px;        
}
.grid_party_photo_r {
	margin-left: 0px;
	margin-right: 147px;
        width: 133px;
}

.grid_party_photo_text {
	margin-left: 30px;
	margin-right: 30px;
        margin-top: 10px;
        width: 340px;
}

.grid_party_3_1 {
	margin-left: 240px;
	margin-right: 240px;
        margin-top: 10px;
        margin-bottom: 25px;
        width: 480px;    
}

.grid_party_3_2 {
	margin-left: 150px;
	margin-right: 150px;
//        margin-bottom: 25px;
        width: 660px;
}

.grid_links_2_1,
.grid_links_2_2,
.grid_links_photo_l,
.grid_links_photo_r,
.grid_links_photo_text {
    	display:inline;
	float: left;
	position: relative;
}

.grid_links_2_1 {
	margin-left: 150px;
	margin-right: 150px;
        margin-bottom: 0px;
        width: 660px;
}

.grid_links_2_2 {
	margin-left: auto;
	margin-right: auto;
        margin-bottom: 25px;
        width: 960px;
}

.grid_links_photo_l {
	margin-left: 160px;
	margin-right: 0px;
        margin-top: 0px;
        width: 120px;        
}
.grid_links_photo_r {
	margin-left: 0px;
	margin-right: 160px;
        width: 120px;
}

.grid_links_photo_text {
	margin-left: 30px;
	margin-right: 30px;
        margin-top: 20px;
        width: 340px;
}
