/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2014, 3:38:27 PM
    Author     : Mike
*/

/******************************************************************************/
/******************************** GLOBAL **************************************/
/******************************************************************************/
@import url(nav.css);

html {width:100%;}
body {
        font-family:Arial, Helvetica, sans-serif;
        font-size:100%;
        color:#000;
        min-width:1000px;
        background:#f8f8f8;
}

.main {
	width:1000px; 	
	padding:0;
	margin:0 auto;
	font-size:14px;
	line-height:25px;
} 

a {color:#f00058; outline:none;}
a:hover {text-decoration:none;}

.wrapper {
        width:100%; 
        overflow:visible;
}

/******************************************************************************/
/******************************** HEADERS *************************************/
/******************************************************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
}

h1 {
	padding:36px 0 0 22px; /* Top, left, bottom, right */
	position:relative;
	overflow:hidden;
	margin-bottom:27px;
}
h1 img {
        display:block;
        width:227px; /* KM_logo width */
        height:100px; /* KM_logo height */
        text-indent:-9999em;
        float:left;
        margin-right:10px;
        margin-left: 20px;
}
h1 em {
        display:inline-block;
        font-family: 'PT Sans', sans-serif;
        font-size:16px;
        font-weight:400;
        line-height:2em;
        color:#888;
        text-transform:uppercase;
        padding-top:41px;
}

/******************************************************************************/
/******************************** SLIDESHOW ***********************************/
/******************************************************************************/
.photo-block {
	padding: 10px 0 0 60px; /* Top, right, bottom, left */
}

.photo-wrapper {
	width:762px;
	height:498px;
	padding:42px 0 0 26px; /* Top, left, bottom, right */
	background:url(../images/Home/slider-bg.png) 0 0 no-repeat;
	overflow:hidden;
}

/* from http://www.menucool.com */

#photo-frame, #photo-frame div {
        box-sizing: content-box;
}

#photo-frame {
        position:relative;
        width:736px;
        margin: 0 0 10px 0;
}

@-webkit-keyframes cf4FadeInOut {
 0%   {opacity:1;}
 15%  {opacity:1;}
 20%  {opacity:0;}
 96%  {opacity:0;}
 100% {opacity:1;}
}

@-moz-keyframes cf4FadeInOut {
 0%   {opacity:1;}
 15%  {opacity:1;}
 20%  {opacity:0;}
 96%  {opacity:0;}
 100% {opacity:1;}
}

@-o-keyframes cf4FadeInOut {
 0%   {opacity:1;}
 15%  {opacity:1;}
 20%  {opacity:0;}
 96%  {opacity:0;}
 100% {opacity:1;}
}

@keyframes cf4FadeInOut {
 0%   {opacity:1;}
 15%  {opacity:1;}
 20%  {opacity:0;}
 96%  {opacity:0;}
 100% {opacity:1;}
}

#photo-slider {
  position:relative;
  height:448px;
  width:736px;
  margin:0 auto;
}
#photo-slider img {
  position:absolute;
  left:0;
}

#photo-slider img {
  -webkit-animation-name: cf4FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 35s;

  -moz-animation-name: cf4FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 35s;

  -o-animation-name: cf4FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 35s;

  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 35s;
}
#photo-slider img:nth-of-type(1) {
  -webkit-animation-delay:28s;
  -moz-animation-delay: 28s;
  -o-animation-delay: 28s;
  animation-delay: 28s;
}
#photo-slider img:nth-of-type(2) {
  -webkit-animation-delay: 21s;
  -moz-animation-delay: 21s;
  -o-animation-delay: 21s;
  animation-delay: 21s;
}
#photo-slider img:nth-of-type(3) {
  -webkit-animation-delay: 14s;
  -moz-animation-delay: 14s;
  -o-animation-delay: 14s;
  animation-delay: 14s;
}
#photo-slider img:nth-of-type(4) {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -o-animation-delay: 7s;
  animation-delay: 7s;
}
#photo-slider img:nth-of-type(5) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}